# Credential info needed to interact with the DLR Dataspace Connector
BASE_URL_DLR_CONNECTOR= # E.g., https://vision-x-api.base-x-ecosystem.org/connectors/jin-conn
API_KEY_DLR_CONNECTOR= # E.g., sk-...

# Credential info needed to interact with the T-System Dataspace Connector
BASE_URL_TS_CONNECTOR= # E.g., https://dlr-4d236860-de.rox-test.lila.dih.telekom.com
API_KEY_TS_CONNECTOR= # <<API key value>>

DATABASE_URL=postgresql+psycopg://admin:admin@db:5432/workflowdb
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
ARTIFACT_ROOT=/artifacts
CELERY_WORKER_CONCURRENCY=4
SCHEDULER_POLL_INTERVAL=0.5
ARTIFACT_RETENTION=3600
RETAIN_FAILED_ARTIFACTS=true
